<%
  const jsFiles = htmlWebpackPlugin.files.js.concat();
  const polyfillFileIndex = jsFiles.findIndex(jsFile => jsFile.entryName === 'es5-polyfill');
  const polyfillFile = jsFiles.splice(polyfillFileIndex, 1)[0];
%>
<!doctype html>
<html>
  <head>
    <meta charset="utf8" />

    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">

    <% if (htmlWebpackPlugin.options.dev) { %>
      <title><%= htmlWebpackPlugin.options.title %></title>
      <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.logo %>">
    <% } %>

    <% if (htmlWebpackPlugin.options.prod){ %>
      <title>$_title_$</title>
      <link rel="shortcut icon" href="$_logo_$">
     <% } %>
    <!--[if IE 8]>
      <script type="text/javascript" src="<%= polyfillFile.path %>"></script>
    <![endif]-->
    <% for (var css in htmlWebpackPlugin.files.css) { %>
      <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
  </head>
  <body style='-webkit-print-color-adjust: exact;'>
    <div id="app"></div>
    <% if (htmlWebpackPlugin.options.prod){ %>
      <script type="text/javascript">
        window.config = $_config_$
      </script>
     <% } %>

    <% jsFiles.forEach(jsFile => { %>
      <script type="text/javascript" src="<%= jsFile %>"></script>
    <% }) %>
  </body>

</html>
