$errorColor:#ff4949;
$component: '.form-item';
#{$component} {
  margin-top: 10px;

  &__label {
    font-size: 16px;
    font-weight: bold;
  }

  &__input {
    margin-top: 10px;
  }

  &__error-msg {
    font-size: 14px;
    color: $errorColor;
    min-height: 21px;
  }

  &--error {
    .ant-input {
      border-color: $errorColor;
    }
  }

  &--required {
    #{$component}__label::after {
      content: '*';
      color: $errorColor;
      display: inline-block;
    }
  }

  .ant-select-auto-complete {
    width: 100%;
  }
}
